<html>
    <head>
        <title>{{t}}</title>
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
    </head>
<body>
    <h1>{{h}}</h1>
    <hr>
    {% if todos[0] %}
    <h3>Result of the Search : ToDO List</h3>
    <table>
        <tr id="row">
            <td class="status">Status</td>
            <td class="name">Task Name</td>
            <td class="desc">Task Description</td>
            <td class="date">Date</td>
            <td class="pr">Project</td>
        <td class="func">Delete</td>
        <td class="func">Modify</td>
        </tr>
        {% for todo in todos %}
        <tr class="datas">
            <td><a href="./done?_id={{ todo['_id'] }}"><input type="image" src="static/images/{{todo['done']}}.png" width="20" height="20" alt="Submit ME"></a></td>
            <td class="name">{{ todo["name"] }}</td>
            <td class="desc">{{ todo["desc"] }}</td>
            <td class="date">{{ todo["date"] }}</td>
            <td class="pr">{{ todo["pr"] }}</td>
            <td class="func1"><a href="./remove?_id={{ todo['_id'] }}"><button type="submit">DELETE</button></a></td>
            <td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit">EDIT</button></a></td>
        </tr>
        {% endfor %}
    {% else %}
        <h4>No Result Found !!</h4>
    {% endif %}
    </table>
    <a href="/">Return to TaskList</a>
</body>
</html>